body {
    background-color: ghostwhite;
    font-family: "Source Sans Pro", sans-serif;
}

.coinbaseBtn {
    position: relative;
    width: 250px;
    height: 25px;
    background: #023618;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 15px;
    margin-top: -150px;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    color: ghostwhite;
    cursor: pointer;
    text-decoration: none;
}

.addItemBtn {
    position: relative;
    width: 150px;
    height: 35px;
    background: #023618;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 15px;
    margin-top: -150px;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    color: ghostwhite;
    cursor: pointer;
    text-decoration: none;
}

main {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    
}

.accent {
    position: sticky;
    width: 102.3%;
    height: 250px;
    margin-top: -20px;
    margin-left: -10px;
    border-bottom-left-radius: 200%;
    border-bottom-right-radius: 200%;
    background-color: #E0E0E2;
    box-shadow: 1px 5px 10px gray;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.editFormProperties {
    position: relative;
    display: flex;
    flex-direction: column;
}

.editItem {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #E1A028;
    color: black;
    width: 700px;
    height: 500px;
    margin-top: 100px;
    border-radius: 10px;
    z-index: 2;
}

#editImageForm {
    max-width: 100%;
    height: 350px;
    border-radius: 10px;
    margin-top: 50px;
}

.editForm {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 250px;
}

#imageEdit {
    margin: 5px;
    margin-top: 5px;
    border-radius: 2px;
}

#priceEdit {
    margin: 5px;
    margin-top: -5px;
}

#titleEdit {
    margin: 5px;
    margin-top: -5px;
}

#descEdit {
    margin: 5px;
    margin-top: -5px;
}

.editPropTitle {
    font-size: medium;
    font-weight: bold;
    margin-top: 3px;
    text-align: left;
}

.editButtons {
    width: 200;
    position: relative;
    display: flex;
    flex-direction: row;
}

#deleteBtn {
    background-color: #2E1C2B;
}

#sizeEdit {
    margin: 5px;
    margin-top: -5px;
}

#catEdit {
    margin: 5px;
}

#checkEdit {
    margin: 5px;
    margin-top: -5px;
}

.editFormBtn {
    width: 90px;
    background: #023618;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 15px;
    font-family: "Source Sans Pro", sans-serif;
    color: #f0f0f0;
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
}

.items {
    margin-top: 80px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

#itemImage {
    max-width: 100%;
    height: 170px;
    border-radius: 10px;
    margin-top: 50px;
}

.itemTextTitle {
    margin-top: 5px;
}

.itemTextPrice {
    margin-top: -50px;
}

.item {
    color: ghostwhite;
    background-color: #023618;
    width: 210px;
    height: 270px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 5px 5px 10px gray;
}

.item:hover {
    cursor: pointer;
}

form {
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

input {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    padding: 3px;
}

select {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    
    color: #023618;
    border: none;
}

#submit {
    color: black;
    background-color: ghostwhite;
    font-size: medium;
    margin-left: 20px;
    width: 80px;
    border-radius: 20px;
}

#submit:hover {
    cursor: pointer;
}

.form {
    color: ghostwhite;
    background-color: #2E1C2B;
    min-height: 50px;
    max-height: 80px;
    padding: 5px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
    right: 0;
    left: 0;
    margin-top: -220px;
    
    z-index: 1;
}

.itemPage {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.imgItemPage {
    position: relative;
    display: flex;
    max-width: 100%;
    height: 500px;
    border-radius: 10px;
    margin-right: 75px;
}

.itemPageContent {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
}

.itemPageDescription {
    margin-top: -10px;
}

.itemPageSize {
    margin-top: -10px;
}

.coin {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.crypto {
    width: 75px;
    height: 75px;
    border-radius: 20px;
    margin: 10px;
}

.crypto:hover {
    cursor: pointer;
}

/* .itemPageDescription {

} */

.editItemButton {
    width: 25%;
    background: #023618;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 15px;
    font-family: "Source Sans Pro", sans-serif;
    color: #f0f0f0;
    cursor: pointer;
    text-decoration: none;
}

#backBtn {
    width: 100px;
    background: #023618;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 15px;
    font-family: "Source Sans Pro", sans-serif;
    color: #f0f0f0;
    cursor: pointer;
    text-decoration: none;
}

